# Secrets - kabhi commit nahi
.env
*.env
secret.yaml
*kubeconfig*
*.token
*.crt
*.pem

# Dependencies / junk
node_modules/
npm-debug.log
.DS_Store
.vscode/

# Kubernetes credentials for Jenkins
taskhub-sa-token.txt
taskhub-ca.crt
taskhub-kubeconfig.yaml
